/* ActionMenu css */
#battle-menu {
    height: 7.5rem;
    /* width: 99.7%; */
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: grid;
    /* Create grid with 5 columns and 2 rows */
    grid-template-columns: 25% 15% 20% 25% 15%;
    grid-template-rows: 50% 50%;
    margin-bottom: 1rem;
}

#game-over-menu {
    height: 5rem;
    width: 99.7%;
    padding-top: 2rem;
    display: grid;
    /* create grid with 5 columns and 1 row */
    grid-template-columns: 25% 15% 20% 25% 15%;
}

.text-box {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 100vh;
}

.selector-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.left-option {
    grid-column: 1 / span 2;
}

.right-option {
    grid-column: 3 / span 2;
}

.action {
    grid-column: 2 / span 1;
    font-size: 24px;
}

.selector {
    font-size: 25px;
    text-align: right;
    margin-right: 0.75rem;
    grid-column: 1 / span 1;
}

.unselected {
    display: none;
}

/* BattleScreen css */
#dragon-hp-container-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

#dragon-hp-container {
    display: flex;
    justify-content: flex-start;
    width: 55vh;
    height: 3vh;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}

#dragon-hp {
    width: 55vh;
    height: 3vh;
    background-color: maroon;
    border-radius: 10px;
}
.upper-display {
    display: flex;
    align-items: end;
}

#character-stat-display {
    width: 12vh;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 10vh;
    padding-left: 1rem;
    font-size: 16px;
}

#dragon-display {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#dragon-image {
    height: 54vh;
    width: 49vh;
}

#battle-text {
    border-bottom: none;
    height: 4rem;
    width: 100vh;
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#battle-text, #battle-text-p {
    margin: 0px;
}

#game-over-text {
    border-bottom: none;
    height: 4rem;
    width: 100vh;
    padding: 10px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

/* Narration Display css */

.narration-container {
    height: 54vh;
    width: 55vh;
    margin-left: 24vh;
    margin-right: 12vh;
    margin-bottom: 1rem;
    /* Need the below property to ensure that a font-size different than default
    does not change the height of this container (that is, the contents do not overflow) */
    overflow: auto;
}

.narration-text {
    font-size: 24px;
}

.final-text-container {
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-text {
    font-size: 32px;
}

/* Prologue Page css */
#prologue-narration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    width: 50vw;
}

.prologue-text, #name-line {
    font-size: 28px;
}

#name-container {
    display: flex;
    align-items: center;
    height: 28px;
}

#type-block {
    width: 12px;
    height: 28px;
    background-color: white;
    margin-left: 2px;
}

#yes-no-box-container {
    display: flex;
    justify-content: center;
}

#yes-no-box, #classes-menu {
    border: 2px solid white;
    border-radius: 10px;
    width: 8vw;
    background-color: black;
}

.option-container {
    display: flex;
    align-items: center;
    margin-left: 1vw;
    height: 6vh;
}

.yes-no-selector {
    width: 1.8vw;
}

.prologue-page-selector {
    font-size: 28px;
    text-align: right;
    margin-right: 0.75rem;
}

#prologue-text-box {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
}

#class-descriptions {
    margin-left: 8px;
}

/* Title Screen css */

#title-screen-container {
    text-align: center;
}

#title-text {
    font-family: fantasy;
    font-size: 108px;
    color: red;
    margin-top: 2%;
    display: flex;
}

#swords-image {
    margin-top: -8%;
    margin-bottom: 5%;
    height: 38vh;
}

#start-text {
    font-size: 24px;
    color: silver;
}

#screen-flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    pointer-events: none; /* Prevents interacton according to ChatGPT */
}

.hide-display {
    display: none;
}