body {
    text-align: center;
    overflow: hidden;
}

#title-text {
    font-family: fantasy;
    font-size: 108px;
    color: red;
    margin-top: 5%;
    display: flex;
}

#swords-image {
    margin-top: -8%;
    margin-bottom: 5%;
    height: 38vh;
}